.nav{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 18px !important;
    align-items: center;
    justify-content: space-between;
}
.btns{
    display: flex;
}
.underline{
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.386);
}